
body{
    background-image: url('877784.jpg');
    margin-left: 50px !important;
}

.textflickr{
    color: black;
    font-family:"Lucida Sans Unicode";
}

.flip3D{ width:240px; height:200px; margin:10px; float:left;}
.flip3D > .front{
    position:absolute;
    transform: perspective( 600px ) rotateY( 0deg );
    background:skyblue; width:240px; height:210px; border-radius: 7px;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
    background-position: top center;
    background-size: 230px 210px;
}
.flip3D > .back{
    position:absolute;
    transform: perspective( 600px ) rotateY( 180deg );
    background:black; width:240px; height:210px; border-radius: 7px; color: white;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
    text-align: center;
}
.flip3D:hover > .front{
    transform: perspective( 600px ) rotateY( -180deg );
}
.flip3D:hover > .back{
    transform: perspective( 600px ) rotateY( 0deg );
}

.cards{
    padding-top: 35px;
}

.movie_name{
    color: white;
    font-size: small;
    text-align: center;
}
.bottom_text{
    color: white;
    font-size: small;
    text-align: center;
}
.cont{
    padding-top: 100px;
}

.con{
    height:300px;
    width:265px;
    margin: 15px;
    display:inline-block;
    border: solid;
    border-color: black;
    background-color: black;

}


@import url(http://fonts.googleapis.com/css?family=Arvo:700);
@import url(http://fonts.googleapis.com/css?family=Seaweed+Script);

.plate {
    width: 410px;
    margin: 10% auto;
}

.shadow {
    color: #fff;
    font-family: Arvo;
    font-weight: bold;
    text-shadow:
            -3px -3px 0 #222,
            3px -3px 0 #222,
            -3px 3px 0 #222,
            3px 3px 0 #222,
            4px 4px 0 #fff,
            5px 5px 0 #fff,
            6px 6px 0 #fff,
            7px 7px 0 #fff;
    line-height: 0.8em;
    letter-spacing: 0.1em;
    transform: scaleY(0.7);
    -webkit-transform: scaleY(0.7);
    -moz-transform: scaleY(0.7);
    margin:0;
    text-align: center;
}
.script {
    font-family: "Seaweed Script";
    color: #fff;
    text-align: center;
    font-size: 40px;
    position: relative;
    margin:0;
}
.script span {
    background-color: #222;
    padding: 0 0.3em;
}
.script:before {
    content:"";
    display: block;
    position: absolute;
    z-index:-1;
    top: 50%;
    width: 100%;
    border-bottom: 3px solid #fff;
}
.text1 {
    font-size: 60px;
}
.text2 {
    font-size: 100px;
}
.text3 {
    font-size: 100px;
}

